<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="WYSIWYG blog creator based on summernote. We can edit existing blogs too or we can create new blogs. Also supports meta tag manipulation like keywords etc.">

    <meta name="keywords" content="WYSIWYG editor, blog editor, html blog generator">
    <link rel="canonical" href="https://dasxplore-blog-maker.onrender.com/">

    <meta property="og:url" content="https://dasxplore-blog-maker.onrender.com/">
    <meta property="og:title" content="Blog Maker | Visual HTML Blog generator">
    <meta property="og:image" content="https://dasxplore-blog-maker.onrender.com/assets/images/og.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="WYSIWYG blog creator based on summernote. We can edit existing blogs too or we can create new blogs. Also supports meta tag manipulation like keywords etc.">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/images/site.webmanifest') }}">

    <title>Blog Maker | Visual HTML Blog generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='summernote/summernote-bs5.css') }}" rel="stylesheet">
  </head>

  <body>

    <header id="header" class="header">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(82, 54, 125);">
        <div class="container-fluid">
          <div id="logo" class="me-auto">
            <a class="navbar-brand fw-bold" href="/"><img src="{{ url_for('static', filename='assets/images/android-chrome-192x192.png') }}" alt="BlogMaker" title=""></a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sample Blogs
                </a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" class="dropdown-item" href="/blog1">Blog1</a></li>
                  <li><a target="_blank" class="dropdown-item" href="/blog2">Blog2</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
              <li><a target="_blank" class="nav-link btn bi-github" href="https://github.com/dasxplore/blog-maker">&nbsp;GitHub</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>

      <section id="summernoteEditor" class="container mt-3 mb-2">
        <div id="summernote"></div>
      </section>

      <div id="blogSelect" class="container mt-2 mb-2">
        <label for="blogSelectBt5" class="form-label">Select your Blog which you want to create / update</label>
        <select id="blogSelectBt5" class="form-select" aria-label="blog select">
          <option value="none" selected>Select the Blog</option>
          {% for blog in blog_ids %}
          <option value="{{ blog }}">{{ blog }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="container mt-2 mb-2">
        <form id="pageDetailsForm" class="">
          <div class="mb-3">
            <label for="blogTitleInp" class="form-label">Page Title (Optional)</label>
            <input type="text" class="form-control" id="blogTitleInp" aria-describedby="titleHelp">
            <div id="titleHelp" class="form-text">It will appear in the Browser Title</div>
          </div>
          <div class="mb-3">
            <label for="blogDescInp" class="form-label">Page Description (Optional)</label>
            <input type="text" class="form-control" id="blogDescInp">
          </div>
          <div class="mb-3">
            <label for="blogPathInp" class="form-label">Blog Path (Optional)</label>
            <input type="text" class="form-control" id="blogPathInp" aria-describedby="blogPathHelp">
            <div id="blogPathHelp" class="form-text">Relative path for the blog without domain (ex: blogs/2026/07/how-to-use-the-app)</div>
          </div>
          <div class="mb-3">
            <label for="ogImgInp" class="form-label">Open graph image link (og:img) (Optional)</label>
            <input type="text" class="form-control" id="ogImgInp" aria-describedby="ogImgHelp">
            <div id="ogImgHelp" class="form-text">Ex: https://dasxplore.com/assets/images/logo/logo.webp.</div>
          </div>
          <div class="mb-3">
            <label for="keywordsInp" class="form-label">Keywords for SEO (Optional)</label>
            <input type="text" class="form-control" id="keywordsInp" aria-describedby="keywordsHelp">
            <div id="keywordsHelp" class="form-text">Comma separated keywords (ex: html editor, wysiwyg editor, blog maker)</div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pageFindInp" checked>
            <label class="form-check-label" for="pageFindInp">Enable pagefind? (Optional)</label>
          </div>
          <!--button type="submit" class="btn btn-primary">Submit</button-->
        </form>
      </div>

      <div class="container mb-2">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button id="saveBlogBtn" class="btn btn-primary" type="button">Save Blog</button>
        </div>
      </div>


    </main>

    <!-- Modal -->
    <div class="modal fade" id="saveChangesModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="saveModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you want to save the changes?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveChConfirmBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <section style="background-color: rgb(138, 136, 141);">
      <div class="container">
        <footer class="py-3">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a target="_blank" href="https://dasxplore.com/#contactSec" class="nav-link px-2 text-dark">Contact Us</a></li>
          </ul>
          <p class="text-center text-dark">© 2026 DasXplore</p>
        </footer>
      </div>
    </section>

    <!-- JAVASCRIPT FILES -->
    <script src="{{ url_for('static', filename='assets/js001/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js001/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='summernote/summernote-bs5.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js001/main.js') }}"></script>

  </body>
</html>
